This notebooks takes the profile files produced by the [profile](https://neutronimaging.ornl.gov/tutorials/imaging-notebooks/profile/linear-profile/) notebook.

<img src='static/screenshot_of_profile_file.png' />

In [20]:
import os
import pandas as pd
import numpy as np

Define the **base folder (base_folder)** from where all the data set will be located. 

For example, if you are working on the analysis machine:

*base_folder = "/SNS/VENUS/IPTS-31716/shared/NC_images/2023-06-12"*

In [4]:
base_folder = "/Users/j35/SNS/VENUS/IPTS-31716-first_experiment_ever/profiles/"
assert os.path.exists(base_folder)  # making sure the base folder exists

## working with various apertures

In [7]:
profile_file = os.path.join(base_folder, 'IPTS-31716-first_experiment_ever_profile_3.txt')
assert os.path.join(profile_file)

In [8]:
pd_object = pd.read_csv(profile_file, skiprows=13)

In [9]:
pd_object

      ##y_axis  # col.1  # col.2  # col.3  # col.4  # col.5  # col.6
0          822   6460.0   1675.5    871.0    558.5  14756.5   3390.0
1          823   6674.5   1691.0   1056.5    585.5  14463.0   3175.0
2          824   6839.5   1536.5    870.5    579.5  14923.5   3197.5
3          825   6511.0   1542.5    877.5    504.5  14020.0   3444.0
4          826   6678.0   1615.0    822.0    605.5  15298.0   3476.5
...        ...      ...      ...      ...      ...      ...      ...
4839      5661   5286.0   1130.5    617.5    347.0  11286.0   2705.0
4840      5662   5313.0   1056.0    726.5    321.5  11615.5   2654.5
4841      5663   5190.5   1200.5    564.5    397.0  11510.5   2674.5
4842      5664   5100.5   1110.0    632.0    425.5  11725.0   2510.5
4843      5665   5322.5   1136.0    573.0    294.5  12400.5   2531.0

[4844 rows x 7 columns]

## retrieve information about names of columns

In [31]:
print(pd_header)

                            #List of files (6 files)
0  # * /Users/j35/SNS/VENUS/IPTS-31716-first_expe...
1  # * /Users/j35/SNS/VENUS/IPTS-31716-first_expe...
2  # * /Users/j35/SNS/VENUS/IPTS-31716-first_expe...
3  # * /Users/j35/SNS/VENUS/IPTS-31716-first_expe...
4  # * /Users/j35/SNS/VENUS/IPTS-31716-first_expe...
5  # * /Users/j35/SNS/VENUS/IPTS-31716-first_expe...

In [33]:
pd_header = pd.read_csv(profile_file, skiprows=5, nrows=6)
list_columns = pd_header.columns.values.tolist()

In [49]:
list_files = list(pd_header.loc[:, list_columns[0]])

column_file_name_dict = {}
for _index_column, _line in enumerate(list_files):
    _line_no_space = _line.replace(" ", "")
    file_name, col_name = _line_no_space.split("->")
    various_part_of_file_name = file_name.split("/")
    column_file_name_dict[_index_column] = various_part_of_file_name[-1]

In [50]:
column_file_name_dict

{0: '0deg_nbr2_30s_frames_OB.tif',
 1: '120deg_nbr2_30s_frames_OB.tif',
 2: '180deg_nbr2_30s_frames_OB.tif',
 3: '240deg_nbr2_30s_frames_OB.tif',
 4: '300deg_nbr1_30s_frames_OB.tif',
 5: '60deg_nbr2_30s_frames_OB_median.tif'}

## group the profiles data and names of the files

In [66]:
list_columns_data = pd_object.columns.values.tolist()
profile_dict = {}
for _index, _name_column in enumerate(list_columns_data[1:]):
    _profile = np.asarray(pd_object.loc[:, _name_column])
    profile_dict[_index] = {'profile': _profile,
                           'file name': column_file_name_dict[_index]}